@media only screen and (max-width: 900px) {
    #bignav {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    #smallnav {
        display: none;
    }
}

.nav-link {
    text-align: right;
    padding: 7px 25px;

}